body{
   overflow: hidden;
}
svg {
    bottom: 0;
    position: absolute; 
    width:100%;
    background-color: aliceblue;
    transform-origin: bottom;
}

rect{
    transform: translateX(calc(50% - 10px));
    transform-origin: 0 100%;
}